
<top-navigation></top-navigation>
<H1>BANK ACCOUNTS</H1>
<!-- <table border="1"> -->
<table class="table table-striped">
	<thead>
		<tr >
			<td>Bank Account Name </td>
			<td>Account Number </td>
			<td>Balance </td>
			<td>Recent Transaction Date </td>
			<td>Status </td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat='account in bankAccounts  | filter : paginate'>
			<td ng-bind="account.accountName"></td>
			<td ng-bind="account.accountNumber"></td>
			<td> {{ account.balance | mycurrency }}</td>
			<td> {{ account.accountOpenDate | date: 'yyyy-MM-dd' }}</td>
			<td><a href="">VIEW</a></td>
		</tr>

	</tbody>
	<pagination total-items="bankAccounts" ng-model="currentPage"
          max-size="1" boundary-links="true"
          items-per-page="numPerPage" class="pagination-sm">
        </pagination>
</table>


